<div class="row my-5">
    <div class="col">
    <h1 class="text-center mb-5">도서검색</h1>
    <div class="row justify-content-center my-2">
        <form class="col-6 col-md-4 col-lg-3" name="frm">
            <div class="input-group">
                <input class="form-control" name="query" value="자바">
                <button class="btn btn-primary">검색</button>
            </div>
        </form>
    </div>
    <div id="div_books"></div>
    <!--페이지 이동 버튼-->
    <div class="text-center">
        <button id="prev" class="btn btn-primary">이전</button>
        <span id="span_page" class="mx-3">1/10</span>
        <button id ="next" class="btn btn-primary">다음</button>
    </div>
    </div>
    
</div>

<!--도서목록 템플릿-->
<script type="x-handlebars-template" id="temp_books">
    <table class="table table-striped">
        {{#each documents}}
            <tr>
                <td><img src = {{check thumbnail}} width="50"</td>
                <td>{{title}}</td>
                <td>{{search_price price}}</td>
                <td>{{authors}}</td>
            </tr>
        {{/each}}
    </table>

</script>

<script>
    let query=$(frm.query).val();
    let page=1;
    getBooks();

    Handlebars.registerHelper("check", function(thumbnail){
        if(thumbnail){
            return thumbnail
        }else{
            return "http://via.placeholder.com/120x170";
        }
    });

    Handlebars.registerHelper("search_price", function(price){
        if(price) return price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') + '원';
    });

    $(frm).on("submit", function(e){
        e.preventDefault(); //submit이벤트를 막아준다.
        query=$(frm.query).val();
        page=1
        getBooks();
    })

    $("#next").on("click", function(){
        page++;
        getBooks();
    })
    $("#prev").on("click", function(){
        page--;
        getBooks();
    })

    //도서검색 목록 가지고오기
    function getBooks(){
        $.ajax({
            type:"get",
            url:"https://dapi.kakao.com/v3/search/book?target=title",
            headers:{"Authorization":"KakaoAK e05a309488ab80fceadd5753958bc22c"},
            data:{query:query,page:page, size:5},
            success:function(result){
                console.log(result);
                let temp=Handlebars.compile($("#temp_books").html())
                $("#div_books").html(temp(result));
                let last = Math.ceil(result.meta.pageable_count/5);
                $("#span_page").html(page+"/"+last);

                if(page==1) $("#prev").attr("disabled", true)
                else $("#prev").attr("disabled", false)
                
                if(result.meta.is_end) $("#next").attr("disabled", true)
                else $("#next").attr("disabled",false)
            }
        
        });
    }
</script>